

<div class="container sections-wrapper">
    <div class="item row">
        <div class="desc col-md-8 col-sm-8 col-xs-12 modal-content" style="margin-bottom: 50px;">
            <h3 class="title" style="color: #3aaa64;">Måndag 27 april</h3>
            <p>
                Nya tag andra LIA-veckan. Fortsätter lite med denna site..... Tittar på lite video-tutorials om Log-in funktioner samt även lite
                om Entity Framework Code-First.
            </p>
        </div><!--//desc-->
    </div><!--//item-->

    <div class="item row">
        <div class="desc col-md-8 col-sm-8 col-xs-12 modal-content" style="margin-bottom: 50px;">
            <h3 class="title" style="color: #3aaa64;">Tisdag 28 april</h3>
            <p>
                Läser om Entity Framework Code First och en del om Fluent Migrator.....
            </p>
        </div><!--//desc-->
    </div><!--//item-->

    <div class="item row">
        <div class="desc col-md-8 col-sm-8 col-xs-12 modal-content" style="margin-bottom: 50px;">
            <h3 class="title" style="color: #3aaa64;">Onsdag 29 april</h3>
            <p>
                Håller mest på med denna sidan och putsar och (förhoppningsvis) förbättrar.
            </p>
        </div><!--//desc-->
    </div><!--//item-->

    <div class="item row">
        <div class="desc col-md-8 col-sm-8 col-xs-12 modal-content" style="margin-bottom: 50px;">
            <h3 class="title" style="color: #3aaa64;">Torsdag 30 april</h3>
            <p>
                LEDIG!! -----> Lalandia..... Min samt 4 andra familjer åker ner till Rödby och Lalandia!
                Här ska det badas, drickas några öl och besöka Bordershopen i Puttgarden.
            </p>
        </div><!--//desc-->
    </div><!--//item-->

    <div class="item row">
        <div class="desc col-md-8 col-sm-8 col-xs-12 modal-content" style="margin-bottom: 50px;">
            <h3 class="title" style="color: #3aaa64;">Fredag 1 maj</h3>
            <p>
                LEDIG!!
            </p>
        </div><!--//desc-->
    </div><!--//item-->
</div>
