

<div class="container sections-wrapper">
    <div class="item row">
        <div class="desc col-md-8 col-sm-8 col-xs-12">
            <h3 class="title" style="color: #3aaa64;">Måndag 20 april</h3>
            <p>
                Första dagen på plats där vi ska spendera våran LIA..... Börjat med att installera sig där man ska sitta. Och där finns en kaffemaskin, det här blir mycket bra!!
                Vi har fått lite uppgifter att läsa på om, försöka lära oss och få fungera praktiskt. Idag började vi med att titta på versionshantering av kod och detta via något som heter
                Team Foundation Server (TFS) och Team Foundation Version Control (TFVC). Vi fick detta att fungera rätt ok faktiskt. Innbörden av detta är att vi kan dela på ett projekt
                och sedan kan alla jobba med olika delar men inte skriva över varandras kod. Vi lyckades även publicera vårt resultat till en molntjänst och se ändringar i projektet på webben.
            </p>
        </div><!--//desc-->
    </div><!--//item-->

    <div class="item row">
        <div class="desc col-md-8 col-sm-8 col-xs-12">
            <h3 class="title" style="color: #3aaa64;">Tisdag 21 april</h3>
            <p>
                Fortsätter med versionshanteringen. Denna dag testar vi med GitHub istället för TFS. Lyckas idag också med att dela kod samt att publicera det via molntjänsten Azure.
            </p>
        </div><!--//desc-->
    </div><!--//item-->

    <div class="item row">
        <div class="desc col-md-8 col-sm-8 col-xs-12">
            <h3 class="title" style="color: #3aaa64;">Onsdag 22 april</h3>
            <p>
                Denna dag går även den i GitHubs tecken men då tittar vi på hur det fungerar med att skapa så kallade 'brancher' där man kan jobba i olika delar av projektet och sedan sammanfoga
                de olika brancherna till samma projekt igen. Publicering till webben funkar även idag! ;)
            </p>
        </div><!--//desc-->
    </div><!--//item-->

    <div class="item row">

        <div class="desc col-md-8 col-sm-8 col-xs-12">
            <h3 class="title" style="color: #3aaa64;">Torsdag 23 april</h3>
            <p>
                Idag testar jag lite med att få till en email confirmation när man ska registrera sig till en applikation. Det var nog lite för svårt om man inte tar det hela från början i projektet.
                Läste om och tittade på video-tutorials om själva inloggningen till en MVC-applikation.
            </p>
        </div><!--//desc-->
    </div><!--//item-->

    <div class="item row">

        <div class="desc col-md-8 col-sm-8 col-xs-12">
            <h3 class="title" style="color: #3aaa64;">Fredag 24 april</h3>
            <p>
                Idag läggs denna sidan in på våran test-applikation på webben. Bra att öva på MVC samt ett kul sätt att skriva dagbok på......
                Dagen avslutas med en kall öl på en lokal uteservering tillsammans med 6-7 klasskamrater!
                Trevlig helg....
            </p>
        </div><!--//desc-->
    </div><!--//item-->
</div>