

<div class="container sections-wrapper">
    <div class="item row">
        <div class="desc col-md-8 col-sm-8 col-xs-12 modal-content" style="margin-bottom: 50px;">
            <h3 class="title" style="color: #3aaa64;">Måndag 18 maj</h3>
            <p>
                Nya tag efter helgen! Projektet förändrar sig lite efter hand tycker jag när man disskuterar hur det ska fungera och
                hur vissa delar hänger ihop.
            </p>
        </div><!--//desc-->
    </div><!--//item-->

    <div class="item row">      
        <div class="desc col-md-8 col-sm-8 col-xs-12 modal-content" style="margin-bottom: 50px;">
            <h3 class="title" style="color: #3aaa64;">Tisdag 19 maj</h3>
            <p>
                Vi jobbar vidare med lite olika delar så som kunder, laglistor, författningssamlingar och användare i systemet.
            </p>
        </div><!--//desc-->       
    </div><!--//item-->

    <div class="item row">
        <div class="desc col-md-8 col-sm-8 col-xs-12 modal-content" style="margin-bottom: 50px;">
            <h3 class="title" style="color: #3aaa64;">Onsdag 20 maj</h3>
            <p>
                Nu börjar det märkas att man är beroende av varandras uppgifter och att man behöver få dessa så man kan komma vidare
                med sina egna. 
            </p>
        </div><!--//desc-->
    </div><!--//item-->

    <div class="item row">
        <div class="desc col-md-8 col-sm-8 col-xs-12 modal-content" style="margin-bottom: 50px;">
            <h3 class="title" style="color: #3aaa64;">Torsdag 21 maj</h3>
            <p>
                Inloggning med olika roller fungerar. 
            </p>
        </div><!--//desc-->
    </div><!--//item-->

    <div class="item row">
        <div class="desc col-md-8 col-sm-8 col-xs-12 modal-content" style="margin-bottom: 50px;">
            <h3 class="title" style="color: #3aaa64;">Fredag 22 maj</h3>
            <p>
                Beroende på vem som loggar in i systemet så sätts begränsningar på vad som visas och på vad användare för se/göra. 
            </p>
        </div><!--//desc-->
    </div><!--//item-->
</div>

