

<div class="container sections-wrapper">
    <div class="item row">
        <div class="desc col-md-8 col-sm-8 col-xs-12 modal-content" style="margin-bottom: 50px;">
            <h3 class="title" style="color: #3aaa64;">Måndag 4 maj</h3>
            <p>
                Tillbaka från Danmark igen! På förmiddagen tittar vi på ett exempel med Entity Framework och Code First från början. 
                Efter det får vi testa detta själva och försöka att skapa ett litet projekt med en väldigt liten databas utifrån 
                Code First. Detta ska vi sedan använda till vårat stora projekt som vi ska vara med att skapa.
            </p>
        </div><!--//desc-->
    </div><!--//item-->

    <div class="item row">      
        <div class="desc col-md-8 col-sm-8 col-xs-12 modal-content" style="margin-bottom: 50px;">
            <h3 class="title" style="color: #3aaa64;">Tisdag 5 maj</h3>
            <p>
                Fortsätter med Entity Framework och Code First........
            </p>
        </div><!--//desc-->       
    </div><!--//item-->

    <div class="item row">
        <div class="desc col-md-8 col-sm-8 col-xs-12 modal-content" style="margin-bottom: 50px;">
            <h3 class="title" style="color: #3aaa64;">Onsdag 6 maj</h3>
            <p>
                Idag börjar allvaret! Vi har sagt att vi ska köra lite Scrum-aktigt i detta projektet så vi får känna på det också.
                Vi har ett startmöte på förmiddagen där vi går igenom hur det är tänkt att vi ska arbete, hur Team Foundation Server eller 
                Visual Studio Online fungerar och vad vi ska börja med. I Visual Studio Online kan man sköta hela projektet med sprintar,
                backlog items och tasks. Vi fixar så att alla kan komma åt detta projektet samt väljar varsin backlog item att börja med.
            </p>
        </div><!--//desc-->
    </div><!--//item-->

    <div class="item row">
        <div class="desc col-md-8 col-sm-8 col-xs-12 modal-content" style="margin-bottom: 50px;">
            <h3 class="title" style="color: #3aaa64;">Torsdag 7 maj</h3>
            <p>
                Arbetet med våra uppgifter fortsätter och ibland krävs det att vi hjälps åt lite när någon kör fast. Fortfarande lite osäkert
                med versionshantering av koden så att man gör allt i rätt ordning.
            </p>
        </div><!--//desc-->
    </div><!--//item-->

    <div class="item row">
        <div class="desc col-md-8 col-sm-8 col-xs-12 modal-content" style="margin-bottom: 50px;">
            <h3 class="title" style="color: #3aaa64;">Fredag 8 maj</h3>
            <p>
                Fortsätter från föregående dag med mina uppgifter.
            </p>
        </div><!--//desc-->
    </div><!--//item-->
</div>

