

<div class="container sections-wrapper">
    <div class="item row">
        <div class="desc col-md-8 col-sm-8 col-xs-12 modal-content" style="margin-bottom: 50px;">
            <h3 class="title" style="color: #3aaa64;">Måndag 11 maj</h3>
            <p>
                Snabbt 'Daily Scrum'-möte på morgonen där vi gick igenom de saker vi håller på med samt vad vi tänkt göra idag.
                Även problemställningar disskuterades i enklare former. Senare idag ska våran handledare träffa kunden som är intresserad
                av den applikationen som vi är med och utvecklare. Vi får se hur det går!
            </p>
        </div><!--//desc-->
    </div><!--//item-->

    <div class="item row">      
        <div class="desc col-md-8 col-sm-8 col-xs-12 modal-content" style="margin-bottom: 50px;">
            <h3 class="title" style="color: #3aaa64;">Tisdag 12 maj</h3>
            <p>
                Nu blir det verklighet av projektet, kunden vill ha en första utgåva så nu blir det åka av! Handledaren tar fram en grafisk design 
                på applikationen så det blir bra får oss att ha ett utseende att rätta sig efter. Den kod vi hunnit göra går ändå att återanvända
                så det känns ju bra också.
            </p>
        </div><!--//desc-->       
    </div><!--//item-->

    <div class="item row">
        <div class="desc col-md-8 col-sm-8 col-xs-12 modal-content" style="margin-bottom: 50px;">
            <h3 class="title" style="color: #3aaa64;">Onsdag 13 maj</h3>
            <p>

            </p>
        </div><!--//desc-->
    </div><!--//item-->

    <div class="item row">
        <div class="desc col-md-8 col-sm-8 col-xs-12 modal-content" style="margin-bottom: 50px;">
            <h3 class="title" style="color: #3aaa64;">Torsdag 14 maj</h3>
            <p>

            </p>
        </div><!--//desc-->
    </div><!--//item-->

    <div class="item row">
        <div class="desc col-md-8 col-sm-8 col-xs-12 modal-content" style="margin-bottom: 50px;">
            <h3 class="title" style="color: #3aaa64;">Fredag 15 maj</h3>
            <p>

            </p>
        </div><!--//desc-->
    </div><!--//item-->
</div>

