

<div class="container sections-wrapper">
    <div class="item row">
        <a class="col-md-2 col-sm-2 col-xs-12" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">
            @*<img class="img-responsive project-image" src="assets/images/projects/project-5.png" alt="project name" />*@
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
            <h3 class="title" style="color: #3aaa64;">Måndag 27 april</h3>
            <p>

            </p>
            @*<p><a class="more-link" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>*@
        </div><!--//desc-->
    </div><!--//item-->

    <div class="item row">
        <a class="col-md-2 col-sm-2 col-xs-12" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/" target="_blank">
            @*<img class="img-responsive project-image" src="assets/images/projects/project-4.png" alt="project name" />*@
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
            <h3 class="title" style="color: #3aaa64;">Tisadg 28 april</h3>
            <p>
                
            </p>
            @*<p><a class="more-link" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>*@
        </div><!--//desc-->
    </div><!--//item-->

    <div class="item row">
        <a class="col-md-2 col-sm-2 col-xs-12" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/" target="_blank">
            @*<img class="img-responsive project-image" src="assets/images/projects/project-1.png" alt="project name" />*@
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
            <h3 class="title" style="color: #3aaa64;">Onsdag 29 april</h3>
            <p>
                
            </p>
            @*<p><a class="more-link" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>*@
        </div><!--//desc-->
    </div><!--//item-->

    <div class="item row">
        <a class="col-md-2 col-sm-2 col-xs-12" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/" target="_blank">
            @*<img class="img-responsive project-image" src="assets/images/projects/project-2.png" alt="project name" />*@
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
            <h3 class="title" style="color: #3aaa64;">Torsdag 30 april</h3>
            <p>
                LEDIG!! -----> Lalandia.....
            </p>
            @*<p><a class="more-link" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>*@
        </div><!--//desc-->
    </div><!--//item-->

    <div class="item row">
        <a class="col-md-2 col-sm-2 col-xs-12" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/" target="_blank">
            @*<img class="img-responsive project-image" src="assets/images/projects/project-2.png" alt="project name" />*@
        </a>
        <div class="desc col-md-8 col-sm-8 col-xs-12">
            <h3 class="title" style="color: #3aaa64;">Fredag 1 maj</h3>
            <p>
                LEDIG!!
            </p>
            @*<p><a class="more-link" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>*@
        </div><!--//desc-->
    </div><!--//item-->
</div>
