@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<hr />
<br /><br />

<div class="row">

    <div class="col-md-4">  
        <div class="modal-content" style="padding-left:10px;">
            <h4>Asgeir Sverrisson</h4><br />
            <address>
                Jag är där jag är<br />
                Kalmar<br />
                <abbr title="Phone">P:</abbr>
                Ring inte mig, jag ringer dig!<br />
                <abbr title="Email">E:</abbr>
                your.email@somewhere.com
            </address>
        </div>
    </div>

    <div class="col-md-4">    
        <div class="modal-content" style="padding-left:10px;">
            <h4>Tobias Hallgren</h4><br />
            <address>
                Jag är där jag är<br />
                Kalmar<br />
                <abbr title="Phone">P:</abbr>
                Ring inte mig, jag ringer dig!<br />
                <abbr title="Email">E:</abbr>
                your.email@somewhere.com
            </address>
        </div>
    </div>

    <div class="col-md-4">   
        <div class="modal-content" style="padding-left:10px;">
            <h4>Andreas Gidö</h4><br />
            <address>
                Jag är där jag är<br />
                Kalmar<br />
                <abbr title="Phone">P:</abbr>
                Ring inte mig, jag ringer dig!<br />
                <abbr title="Email">E:</abbr>
                your.email@somewhere.com
            </address>
        </div>
    </div>
</div>

