
@{
    ViewBag.Title = "Studentinfo";
}


<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row" style="margin-top: 50px;">
        <div class="col-lg-12">
            <h1 class="page-header">
                Studenterna
                <small>Lite information</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Student One -->
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-responsive" src="~/pictures/island_flagga.jpg" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Asgeir Sverrisson</h3>
            <h4>SN14</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            <a class="btn btn-primary" href="#">Min dagbok <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Student Two -->
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-responsive" src="~/pictures/flagga_skane.png" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Tobias Hallgren</h3>
            <h4>SN14</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
            <a class="btn btn-primary" href="#">Min dagbok <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Student Three -->
    <div class="row" style="margin-bottom: 175px;">
        <div class="col-md-7">
            <a href="#">
                <img class="img-responsive" src="~/pictures/pipa.jpg" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Andreas Gidö</h3>
            <h4>SN14</h4>
            <p>
                En blivande 40-åring som mestadels jobbat inom ventilationsbranschen som servicetekniker men har sadlat om och blivit student.
                Läser till systemutvecklare inom .Net på Teknikhögskolan här i Kalmar och har gjort första läsåret till sommaren.
            </p>
            <a class="btn btn-primary" href="@Url.Action("StudentDiaryAG")">Min dagbok <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
</div>